<div class="sub-container">
  <div>
    <form [formGroup]="searchFormGroup" (ngSubmit)="execSearch()">
      <div class="search-control">
        <input
          id="inputSearch"
          type="text"
          formControlName="formControlSearch"
          [placeholder]="'Search'"
        />
        <button type="submit" [disabled]="searchFormGroup.invalid">Go</button>
      </div>
    </form>
    <div class="results-container">
      <div *ngIf="query && tracks?.length === 0">No Results.</div>
      <div *ngFor="let track of tracks">
        <app-sc-search-result
          [track]="track"
          [selectedTrack]="selectedTrack"
          (trackSelected)="onTrackSelected($event)"
        ></app-sc-search-result>
      </div>
    </div>
  </div>
  <div>
    <div class="next-back-wrapper">
      <button [disabled]="!backEnabled" (click)="onBack()">Back</button>
      <button [disabled]="!nextEnabled" (click)="onNext()">Next</button>
    </div>
  </div>
</div>
